/**
* Juan Luis García Borrego
* @JuanluGarciaB
*/

.container{
    border:3px solid blueviolet;
    background: mediumpurple;
    height: 100px;
    display:flex;
}
.flex-start{
    justify-content: flex-start;
}
.flex-end{
    justify-content: flex-end;
}
.center{
    justify-content: center;
}
.space-between{
    justify-content: space-between;
}
.space-around{
    justify-content: space-around;
}
.items{
    border:3px solid deepskyblue;
    background: cornflowerblue;
    width: 20%;
}
    .items:nth-of-type(1){

    }
    .items:nth-of-type(2){

    }
    .items:nth-of-type(3){

    }